div.body-content {
    font-family: Arial, sans-serif;;
    line-height: 26px;
    font-size: 18px;
    padding: 50px;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.tts-controls {
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    color: white;
    top: 5px;
    right: 50px;
}

.speed-controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.speed-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.speed-button.selected {
    font-weight: bold;
    text-decoration: underline;
}

i#play-pause {
    align-items: center;
    display: ruby-text;
}